<mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <h4>Search by City</h4>
            <hr>
        </mdb-card-title>
        <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
            <div class="form-inline">
                <label for="Cityname">City of Residence</label>
                <div class="md-form ml-4">
                    <label for="Cityname">Search City/Country</label>
                    <input id="Cityname" class="form-control" [ngClass]="{'invalid': submitted && f.Cityname.errors}" formControlName="Cityname" type="text" mdbInput>
                    <mdb-error *ngIf="f.Cityname.invalid && submitted">This field is required</mdb-error>
                    <button type="submit" mdbBtn color="primary" size="md" mdbWavesEffect>Search</button>
                </div>
            </div>
        </form>
    </mdb-card-body>
</mdb-card>