<app-header-layout></app-header-layout>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class=" col-3 ">
            <div class="list-group ">
                <a href="# " class="list-group-item active waves-light" mdbWavesEffect>Quick search</a>
                <a href="# " class="list-group-item list-group-item-action waves-light " mdbWavesEffect>Upload image</a>
                <a href="# " class="list-group-item list-group-item-action waves-light " mdbWavesEffect>Search by name</a>
                <a href="# " class="list-group-item list-group-item-action waves-light " mdbWavesEffect>Search by city</a>
                <a href="# " class="list-group-item list-group-item-action disabled waves-light " mdbWavesEffect>Search by profileId</a>
            </div>
        </div>
        <div class="col-9 ">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>

