<app-header-layout></app-header-layout>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group" *ngIf="signOutvisible">
                <a [routerLinkActive]="'active'" routerLink="/quicksearch" class="list-group-item list-group-item-action waves-light" mdbWavesEffect><mdb-icon fas icon="search" class="mr-1"></mdb-icon>Quick search</a>
                <a [routerLinkActive]="'active'" routerLink="/imageupload" class="list-group-item list-group-item-action waves-light"  mdbWavesEffect><mdb-icon fas icon="file-upload" class="mr-1"></mdb-icon>Upload image</a>
                <a [routerLinkActive]="'active'" routerLink="/searchbyname" class="list-group-item list-group-item-action waves-light" mdbWavesEffect><mdb-icon fas icon="users" class="mr-1"></mdb-icon>Search by name</a>
                <a [routerLinkActive]="'active'" routerLink="/searchbycity" class="list-group-item list-group-item-action waves-light" mdbWavesEffect><mdb-icon fas icon="city" class="mr-1"></mdb-icon>Search by city</a>
                <!-- <a [routerLinkActive]="'active'" routerLink="/searchbyname" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect><mdb-icon fas icon="user-alt" class="mr-1"></mdb-icon>Search by profileId</a> -->
            </div>
        </div>
        <div class="col-9">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>

