<!-- Material form login -->
<div class="col-md-6">
    <mdb-card>
        <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
                <strong>Sign in</strong>
            </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
                <!-- Email -->
                <div class="md-form">
                    <input type="text" formControlName="userName" id="userName" name="userName" mdbInput class="form-control" [ngClass]="{'invalid': submitted && f.userName.errors}" />
                    <label for="userName">User name</label>
                    <mdb-error *ngIf="submitted && f.userName.invalid">User name is required</mdb-error>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" formControlName="password" id="password" class="form-control" mdbInput [ngClass]="{'invalid': submitted && f.password.errors}" />
                    <label for="password">Password</label>
                    <mdb-error *ngIf="submitted && f.password.invalid">Password is required</mdb-error>
                </div>

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <mdb-checkbox>Remember me</mdb-checkbox>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a routerLink="/forgotpassword">Forgot password?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button mdbBtn color="primary" outline="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit"><mdb-icon fas icon="sign-in-alt" class="mr-1"></mdb-icon> Sign in</button>
              
                <!-- Register -->
                <p>Not a member?
                    <a routerLink="/registration">Register</a>
                </p>

            </form>
            <!-- Form -->

        </mdb-card-body>

    </mdb-card>
</div>
<!-- Material form login -->
