<div class="col-md-8">
  <mdb-card>
    <mdb-card-header>
      <h4>Partner Preferences</h4>
    </mdb-card-header>
    <mdb-card-body>
      <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <label for="Age" class="col-sm-4 col-form-label">Age</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <input id="Age" class="form-control" [ngClass]="{'invalid': submitted && f.Age.errors}" formControlName="Age" type="number" mdbInput>
              <mdb-error *ngIf="f.Age.invalid && submitted">Age is required</mdb-error>
            </div>
          </div>
        </div>

        <div class="row">
          <label for="Height" class="col-sm-4 col-form-label">Height</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <input id="Height" class="form-control" [ngClass]="{'invalid': submitted && f.Height.errors}" formControlName="Height" type="number" mdbInput>
              <mdb-error *ngIf="f.Height.invalid && submitted">Height is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Maritalstatus" class="col-sm-4 col-form-label">Marital Status</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <select id="Maritalstatus" [ngClass]="{'invalid': submitted && f.Maritalstatus.errors}" formControlName="Maritalstatus" class="browser-default custom-select">
                <option selected="selected" value="">
                  Select...
                </option>
                <option value="Never Married">
                  Never Married
                </option>
                <option value="Divorced with Children">
                  Divorced with Children
                </option>
                <option value="Divorced without Children">
                  Divorced without Children
                </option>
                <option value="Widow with Children">
                  Widow with Children
                </option>
                <option value="Widow without Children">
                  Widow without Children
                </option>
                <option value="Widower with Children">
                  Widower with Children
                </option>
                <option value="Widower without Children">
                  Widower without Children
                </option>
              </select>
              <mdb-error *ngIf="f.Maritalstatus.invalid && submitted">Marital status is required</mdb-error>
            </div>
          </div>
        </div>



        <div class=" row">
          <label for="Complexion" class="col-sm-4 col-form-label">Complexion</label>
          <div class="col-sm-8">
            <div class="custom-control custom-radio custom-control-inline">
              <input id="Veryfair" type="radio" value="Veryfair" name="Complexion" formControlName="Complexion" mdbInput class="custom-control-input">
              <label for="Veryfair" class="custom-control-label">Very Fair</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input id="Fair" type="radio" value="Fair" name="Complexion" formControlName="Complexion" mdbInput class="custom-control-input">
              <label for="Fair" class="custom-control-label">Fair</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input id="Medium" type="radio" value="Medium" name="Complexion" formControlName="Complexion" mdbInput class="custom-control-input">
              <label for="Medium" class="custom-control-label">Medium</label>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Religion" class="col-sm-4 col-form-label">Religion</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <select id="Religion" class="browser-default custom-select" formControlName="Religion" [ngClass]="{'invalid': submitted && f.Religion.errors}">
                <option selected="selected" value="">Select...</option>
                <option *ngFor="let c of optionsReligous" [ngValue]="c.value">{{c.label}}</option>
              </select>
              <mdb-error *ngIf="submitted && f.Religion.invalid">Religion is required</mdb-error>
            </div>
          </div>
        </div>


        <div class=" row">
          <label for="Caste" class="col-sm-4 col-form-label">Caste</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <select id="Caste" class="browser-default custom-select" formControlName="Caste" [ngClass]="{'invalid': submitted && f.Caste.errors}">
                <option value="Any">Any</option>
                <option value="Dont wish to specify">Dont wish to specify</option>
              </select>
              <mdb-error *ngIf="submitted && f.Caste.invalid">Caste is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Mothertongue" class="col-sm-4 col-form-label">Mother tongue</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <select id="Mothertongue" class="browser-default custom-select" formControlName="Mothertongue" [ngClass]="{'invalid': submitted && f.Mothertongue.errors}">
                <option selected="selected" value="">Select...</option>
                <option *ngFor="let c of optionsLanguages" [ngValue]="c.value">{{c.label}}</option>
              </select>
              <mdb-error *ngIf="submitted && f.Mothertongue.invalid">Mother tongue is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Education" class="col-sm-4 col-form-label">Education details</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <input id="Education" class="form-control" formControlName="Education" type="text" mdbInput [ngClass]="{'invalid': submitted && f.Education.errors}">
              <mdb-error *ngIf="submitted && f.Education.invalid">Education is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Occupation" class="col-sm-4 col-form-label">Occupation</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <input id="Occupation" class="form-control" formControlName="Occupation" type="text" mdbInput [ngClass]="{'invalid': submitted && f.Occupation.errors}">
              <mdb-error *ngIf="submitted && f.Occupation.invalid">Occupation is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Citizenof" class="col-sm-4 col-form-label">Citizen of</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <select id="Citizenof" class="browser-default custom-select" formControlName="Citizenof" [ngClass]="{'invalid': submitted && f.Citizenof.errors}">
                <option value="">Select...</option>
                <option *ngFor="let c of optionsCountries" [ngValue]="c.value">{{c.label}}</option>
              </select>
              <mdb-error *ngIf="submitted && f.Citizenof.invalid">Citizen of is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Countryliving" class="col-sm-4 col-form-label">Country living</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <select id="Countryliving" class="browser-default custom-select" formControlName="Countryliving" [ngClass]="{'invalid': submitted && f.Countryliving.errors}">
                <option value="">Select...</option>
                <option *ngFor="let c of optionsCountries" [ngValue]="c.value">{{c.label}}</option>
              </select>
              <mdb-error *ngIf="submitted && f.Countryliving.invalid">Country living is required</mdb-error>
            </div>
          </div>
        </div>

        <div class=" row">
          <label for="Residestate" class="col-sm-4 col-form-label">Reside state</label>
          <div class="col-sm-8">
            <div class="md-form mt-0">
              <input id="Residestate" class="form-control" formControlName="Residestate" type="text" mdbInput [ngClass]="{'invalid': submitted && f.Residestate.errors}">
              <mdb-error *ngIf="submitted && f.Residestate.invalid">Reside state is required</mdb-error>
            </div>
          </div>
        </div>

        <div class="col-8 offset-4">
          <button type="submit" mdbBtn color="primary" mdbWavesEffect><mdb-icon fas icon="chevron-right" class="mr-1"></mdb-icon> Save and continue</button>
        </div>
      </form>

    </mdb-card-body>
  </mdb-card>
</div>
