<div class="col-6">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4>HEAD OFFICE</h4>
      </mdb-card-title>
      <mdb-card-text>
        <p>
          <mdb-icon fas icon="map-marked-alt" class="mr-1"></mdb-icon>  G-6, Amruthaville, Opp. Yashoda Hospital,
          Rajbhavan Road, Somajiguda,
          HYDERABAD-500 082
          <a href="tel:040-65599985">Phone No: 040-65599985</a>
        </p>
      </mdb-card-text>
      <!--<div class="flex-row">
        <a class="card-link">Card link</a>
        <a class="card-link">Another link</a>
      </div>-->
    </mdb-card-body>
  </mdb-card>
</div>
<br />
<div class="col-6">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Dilsukhnagar Branch</h4>
      </mdb-card-title>
      <mdb-card-text>
        <p>
          <mdb-icon fas icon="map-marked-alt" class="mr-1"></mdb-icon> Dilsukhnagar Branch

          Sai Baba Temple Lane,

          Dilsukhnagar,

          <a href="tel:040-30425566">Phone No: 040-30425566</a>,
          <a href="tel:9848221166">98482 21166</a>
        </p>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
