<div class="col-md-6">
    <!-- Material form subscription -->
    <mdb-card>

        <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
                <strong>Forgot Password</strong>
            </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" [formGroup]="validatingForm" (ngSubmit)="onSubmit()">

                <!-- Name -->
              <div class="md-form mt-3">
                <input type="number" name="profileId" id="profileId" class="form-control" mdbInput [ngClass]="{'invalid': submitted && f.profileId.errors}" formControlName="profileId" />
                <label for="profileId">Mobile No.</label>
                <mdb-error *ngIf="submitted &&f.profileId.errors?.pattern">Mobile No. must have 10 digits.</mdb-error>
                <mdb-error *ngIf="submitted && f.profileId.errors?.required">Mobile number required</mdb-error>
              </div>

                <!-- E-mai -->
                <div class="md-form">
                    <input type="email" name="emailId" id="emailId" class="form-control" mdbInput [ngClass]="{'invalid': submitted && f.emailId.errors}" formControlName="emailId" />
                    <label for="emailId">E-mail</label>
                    <mdb-error *ngIf="submitted && f.emailId.invalid">E-mail is required</mdb-error>
                </div>

                <!-- Sign in button -->
                <button mdbBtn color="primary" outline="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect type="submit"><mdb-icon fas icon="sign-in-alt" class="mr-1"></mdb-icon> Proceed</button>
                <p>
                    Already have account? <a routerLink="/login">Login here</a> <br> Not a member?
                    <a routerLink="/registration">Register</a>
                </p>
            </form>
            <!-- Form -->

        </mdb-card-body>

    </mdb-card>
    <!-- Material form subscription -->
</div>
