<mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <h4>Profile Search</h4>
            <hr>
        </mdb-card-title>
        <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
            <div class="form-inline">
                <label for="Name">Search</label>
                <div class="md-form ml-4">
                    <label for="Name">Search Name/Age</label>
                    <input id="Name" class="form-control" [ngClass]="{'invalid': submitted && f.Name.errors}"
                        formControlName="Name" type="text" mdbInput>
                    <mdb-error *ngIf="f.Name.invalid && submitted">Name is required</mdb-error>
                    <button type="submit" size="md" mdbBtn color="primary" mdbWavesEffect>Search</button>
                </div>
            </div>
            <table mdbTable *ngIf="table?.length">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th [mdbTableSort]="table" sortBy="name" scope="col">Name <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="table" sortBy="age" scope="col">Age <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="table" sortBy="gender" scope="col">Gender <mdb-icon fas icon="sort">
                            </mdb-icon>
                        </th>
                        <th [mdbTableSort]="table" sortBy="dateofbirth" scope="col">Date Of Birth <mdb-icon fas
                                icon="sort"></mdb-icon>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of table; let i = index">
                        <td scope="row">{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.dateofbirth}}</td>
                        <td><button type="button" mdbBtn color="default" class="relative waves-light btn-sm" (click)="childModel(item.name,item.personId)" mdbWavesEffect><mdb-icon fas icon="paper-plane"></mdb-icon> Invitation</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </mdb-card-body>
</mdb-card>


<!-- <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Invitation</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" size="md" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" size="md" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Sent</button>
      </div>
    </div>
  </div>
</div> -->