<mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <h4>Profile Search</h4>
            <hr>
        </mdb-card-title>
        <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
            <div class="form-inline">
                <label for="Name">Search</label>
                <div class="md-form ml-4">
                    <label for="Name">Search Name/Age</label>
                    <input id="Name" class="form-control" [ngClass]="{'invalid': submitted && f.Name.errors}"
                        formControlName="Name" type="text" mdbInput>
                    <mdb-error *ngIf="f.Name.invalid && submitted">Name is required</mdb-error>

                    <button type="submit" size="md" mdbBtn color="primary" mdbWavesEffect>Search</button>
                </div>
            </div>
        </form>
    </mdb-card-body>
</mdb-card>