<mdb-card>
    <mdb-card-body>
        <mdb-card-title>
            <h4>Quick search</h4>
        </mdb-card-title>
        <hr>
        <div class="col-md-6">
            <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <!-- Material input -->
                    <label for="Lookingfor" class="col-sm-3 col-form-label">Looking for</label>
                    <div class="col-sm-9">
                        <div class="md-form mt-0">
                            <select formControlName="Lookingfor" class="browser-default custom-select" [ngClass]="{'invalid': submitted && f.Lookingfor.errors}">
                                <option value="F">Bride</option>
                                <option value="M">Groom</option>
                              </select>
                            <mdb-error *ngIf="submitted && f.Lookingfor.invalid">Looking for is required</mdb-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="Age" class="col-sm-3 col-form-label">Age between</label>
                    <div class="col-sm-9">
                        <div class="md-form mt-0 input-group">
                            <input type="number" class="form-control" placeholder="18" formControlName="Age" id="Age" [ngClass]="{'invalid': submitted && f.Age.errors}">
                            <input type="number" class="form-control" placeholder="70">
                            <mdb-error *ngIf="submitted && f.Age.invalid">Age is required</mdb-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="Caste" class="col-sm-3 col-form-label">Caste</label>
                    <div class="col-sm-9">
                        <div class="md-form mt-0">
                            <select formControlName="Caste" id="Caste" [ngClass]="{'invalid': submitted && f.Caste.errors}" class="browser-default custom-select">
                                <option selected="selected" value="Any">Any</option>
                                <option *ngFor="let c of optionsCaste" [ngValue]="c.value">{{c.label}}</option>
                            </select>
                            <mdb-error *ngIf="submitted && f.Caste.invalid">Caste is required</mdb-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="Education" class="col-sm-3 col-form-label">Education</label>
                    <div class="col-sm-9">
                        <div class="md-form mt-0">
                            <select formControlName="Education" id="Education" [ngClass]="{'invalid': submitted && f.Education.errors}" class="browser-default custom-select">
                                <option selected="selected" value="Any">Any</option>
                                <option *ngFor="let c of optionsEducation" [ngValue]="c.value">{{c.label}}</option>
                            </select>
                            <mdb-error *ngIf="submitted && f.Education.invalid">Education is required</mdb-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="Height" class="col-sm-3 col-form-label">Height</label>
                    <div class="col-sm-9">
                        <div class="md-form mt-0 input-group">
                            <input type="number" class="form-control" formControlName="Height" placeholder="4.5" id="Height" [ngClass]="{'invalid': submitted && f.Height.errors}">
                            <input type="number" class="form-control" formControlName="Height" placeholder="6" id="Height" [ngClass]="{'invalid': submitted && f.Height.errors}">
                            <mdb-error *ngIf="submitted && f.Height.invalid">Height is required</mdb-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="Livingin" class="col-sm-3 col-form-label">Living in</label>
                    <div class="col-sm-9">
                        <div class="md-form mt-0">
                            <select formControlName="Livingin" id="Livingin" [ngClass]="{'invalid': submitted && f.Livingin.errors}" class="browser-default custom-select">
                                <option value="Any">Any</option>
                                <option value="India">India</option>
                                <option value="Abroad">Abroad</option>
                            </select>
                            <mdb-error *ngIf="submitted && f.Livingin.invalid">Living in is required</mdb-error>
                        </div>
                    </div>
                </div>

                <button mdbBtn color="info" outline="true"  block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit"><mdb-icon fas icon="search"></mdb-icon> Search</button>
            </form>
        </div>
    </mdb-card-body>
</mdb-card>