<!-- Material form login -->
<div class="col-md-6">
    <mdb-card>
        <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
                <strong>Change password</strong>
            </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" [formGroup]="validatingForm" (ngSubmit)="onSubmit()">

                <!-- Email -->
                <div class="md-form">
                    <input type="text" formControlName="Oldpassword" id="Oldpassword" name="Oldpassword" mdbInput class="form-control" [ngClass]="{'invalid': submitted && f.Oldpassword.errors}" />
                    <label for="Oldpassword">Old password</label>
                    <mdb-error *ngIf="submitted && f.Oldpassword.invalid">Old password is required</mdb-error>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" formControlName="Newpassword" id="Newpassword" class="form-control" mdbInput [ngClass]="{'invalid': submitted && f.Newpassword.errors}" />
                    <label for="Newpassword">New password</label>
                    <mdb-error *ngIf="submitted && f.Newpassword.invalid">New password is required</mdb-error>
                </div>

                <div class="md-form">
                    <input type="password" formControlName="Confirmpassword" id="Confirmpassword" class="form-control" mdbInput [ngClass]="{'invalid': submitted && f.Confirmpassword.errors}" />
                    <label for="Confirmpassword">Confirm password</label>
                    <mdb-error *ngIf="submitted && f.Confirmpassword.invalid">Confirm password is required</mdb-error>
                </div>


                <!-- Sign in button -->
                <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit">Confirm</button>
            </form>
            <!-- Form -->
        </mdb-card-body>
    </mdb-card>
</div>
<!-- Material form login -->